Amostragem Estratificada

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
ls -hl data

total 16K
-r-xr-xr-x 1 root root 8.0K Aug 24  2018 infert.csv*
-r-xr-xr-x 1 root root 4.7K May 21  2018 iris.csv*

In [17]:
# Python variables work with bash commands \o/
file_path = 'data/iris.csv'

# first line
!head $file_path -n 1

!echo

# second line
!head $file_path -n 2 | tail -n 1

sepal length,sepal width,petal length,petal width,class

5.1,3.5,1.4,0.2,Iris-setosa

In [18]:
file_path_small = 'data/iris.csv'

!head $file_path > $file_path_small

/bin/bash: data/iris.csv: Permission denied

In [21]:
# Carregamento da base de dados e contagem de quantos registros existem por classe
iris = pd.read_csv(file_path_small)
iris['class'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: class, dtype: int64

In [22]:
# iris.iloc[:, 0:4]: buscamos somente os atributos previsores, ou seja, os dados sobre a pétala e sétala da planta
# iris.iloc[:, 4]: buscamos somente a classe, que é a espécie da planta (setosa, virginica ou veriscolor)
# teste_size: selecionamos 50% da base de dados, que serão copiados para as variáveis X e Y. Essa função retorna 4 valores
# stratify: para retornar a amostra baseada na classe
X, _, y,_ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4], test_size = 0.5, stratify = iris.iloc[:, 4])
y.value_counts()

Iris-virginica     25
Iris-setosa        25
Iris-versicolor    25
Name: class, dtype: int64

In [7]:
# Carregamento da base de dados e contagem de quantos registros por classe 
infert = pd.read_csv('C:\\Users\\taynna.silva\\Documents\\DS\\16.Prática em Python\\dados\\infert.csv')
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [8]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

In [12]:
# Criando uma amostra com somente 40% dos registros (por isso é definido 0.6, pois é gerado o inverso)
X1, _, y1, _, = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1], test_size = 0.6, stratify = infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64